@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

* {
    font-family: 'Chakra Petch', sans-serif;
}

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(250, 250, 250);
    width: 80%;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    ;

    .logo {
        font-size: 40px;
    }

    // .nav-links {

    //     ul {
    //         list-style-type: none;
    //         display: flex;

    //         .nav-item {
    //             margin-left: 25px;
    //             border-radius: 5px;

    //             a {
    //                 display: block;
    //                 padding: 10px 20px;
    //             }
    //         }

    //         .login {
    //             background-color: black;

    //             a {
    //                 color: white;
    //             }
    //         }

    //         .register {
    //             background-color: transparent;
    //             border: 1px solid #000;

    //             a {
    //                 color: #000
    //             }
    //         }
    //     }
    // }
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

table {
    width: 100%;
    text-align: center;

    thead {
        tr {
            th {
                font-weight: 700;
                font-size: 25px;
                border: 1px solid black;
                background-color: rgb(172, 172, 172);
            }
        }
    }

    tbody {
        tr {
            td {
                border: 1px solid black;
                padding: 10px 0;

                .actions {
                    display: flex;
                    justify-content: space-evenly;

                    .edit-button {
                        &:hover {
                            background-color: rgb(76, 183, 255);
                        }
                    }

                    .delete-button {
                        background-color: #000;
                        color: #fff;

                        &:hover {
                            background-color: red;
                        }
                    }
                }
            }
        }
    }
}

.button {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
}

.flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-button {

    &:hover {
        color: #fff;
        background-color: rgb(0, 142, 0);
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 25px;
    // margin-bottom: 30px;

    .form-field {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        width: 80%;

        .button-container {
            display: flex;
            justify-content: center;
        }
    }

    .form-input {
        padding: 15px;
        background-color: #fff;
        border: 1px solid black;
        border-radius: 5px;
    }

    .form-button {
        margin-top: 25px;
    }

    .form-check {
        padding: 5px;
    }

    .form-radio {
        padding: 10px;
    }

    .radios {
        width: 50%;
        display: flex;
        justify-content: space-evenly;
    }

    .dropdown {
        padding: 10px;
    }
}

.auth-form {
    width: 500px;
    margin-bottom: 25px;
}

.dashboard-footer {
    margin: 30px 0;
}

.invalid {
    border: 1px solid red($color: #000000);
}

.error-message{
    color: red;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
