<main class="page">
    <div class="flex">
        <h1>Dashboard</h1>
        <div>
            <button class="button add-button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                (click)="clickAddNewUser()">Add New User</button>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>S.No</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Adult?</th>
                <th>Gender</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.isOver18 ? 'Yes' : 'No'}}</td>
                <td>{{user.gender}}</td>
                <td>
                    <div class="flex actions">
                        <button class="button edit-button" class="button" data-bs-toggle="modal"
                            data-bs-target="#exampleModal" (click)="edit(user)">Edit</button>
                        <button class="button delete-button" (click)="delete(user.id)">Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</main>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form [formGroup]="addUserForm">
                    <div class="form-field">
                        <label for="firstName">First Name</label>
                        <input type="text" id="firstName" formControlName="firstName" class="form-input">
                    </div>
                    <div class="form-field">
                        <label for="lastName">Last Name</label>
                        <input type="text" id="lastName" formControlName="lastName" class="form-input">
                    </div>
                    <div class="form-field">
                        <label for="email">Email</label>
                        <input type="email" id="email" formControlName="email" class="form-input">
                    </div>
                    <div class="form-field">
                        <label for="phone">Phone</label>
                        <input type="number" id="phone" formControlName="phone" class="form-input">
                    </div>
                    <div class="form-field">
                        <label for="password">Password</label>
                        <input type="password" id="password" formControlName="password" class="form-input">
                    </div>
                    <div class="form-field">
                        <div class="flex">
                            <label for="isOver18">
                                Are you over 18?
                            </label>
                            <input type="checkbox" id="isOver18" formControlName="isOver18" class="form-check">
                        </div>
                    </div>
                    <div class="form-field">
                        <div class="flex">
                            <p for="gender">Select your gender</p>
                            <div class="radios">
                                <div>
                                    <label for="male">Male</label>
                                    <input type="radio" id="male" name="gender" value="male" class="form-radio"
                                        formControlName="gender">
                                </div>
                                <div>
                                    <label for="female">Female</label>
                                    <input type="radio" id="female" name="gender" value="female" class="form-radio"
                                        formControlName="gender">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-field">
                        <button type="button" id="cancel" data-bs-dismiss="modal" hidden></button>
                        <div class="button-container">
                            <button *ngIf="showAddButton" type="submit" class="button" (click)="add()">
                                Add
                            </button>
                            <button *ngIf="showUpdateButton" type="submit" class="button" (click)="update()">
                                Update
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>